form {
    min-width: 500px;
}
form .password-toggler {
    display: flex;
    align-items: center;
}
form .password-toggler #show-password-btn {
    display: flex;
    align-items: center;
    font-size: 0.9rem;
    margin-top: 5px;
    cursor: pointer;
    height: 35px;
}
form .password-toggler #show-password-btn #show-password-img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
form .form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
form .form-actions button[type=submit] {
    width: 60%;
    height: 40px;
}
