form {
    min-width: 500px;
}
form .form-actions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
form .form-actions button[type=submit] {
    width: 60%;
    height: 40px;
}

#password-meter {
    display: flex;
    height: 3px;
}
#password-meter .weak-password {
    width: calc(100% / 3);
    background-color: var(--light-grey-color);
    height: 3px;
    order: 1;
}
#password-meter .weak-password.active {
    background-color: var(--danger);
}
#password-meter .medium-password {
    width: calc(100% / 3);
    background-color: var(--light-grey-color);
    height: 3px;
    order: 2;
}
#password-meter .medium-password.active {
    background-color: var(--warning);
}
#password-meter .strong-password {
    width: calc(100% / 3);
    background-color: var(--light-grey-color);
    height: 3px;
    order: 3;
}
#password-meter .strong-password.active {
    background-color: var(--success);
}