<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <context-param>
        <param-name>org.eclipse.jetty.servlet.SessionIdPathParameterName</param-name>
        <param-value>none</param-value>
    </context-param>

<!--    <listener>-->
<!--        <listener-class>si.smrpo.scrum.api.listeners.StartupListener</listener-class>-->
<!--    </listener>-->

</web-app>